body{
    font-family: 'Montserrat', serif;
}
header{
    height: 967px;
    background-image: url(../img/back-header.jpg);
    background-repeat: no-repeat;
    background-position:center center ;
}
header div.menu{
    height: 134px;
    background: rgba(0, 0, 0, 0.4);
}
header div.menu a img{
    display: block;
    padding-top: 50px;
    padding-left:100px ;
}
header nav ul{
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
}
header nav ul li{
    display: inline-block;
    margin-right: 50px;
}
header nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
header nav ul li a:hover{
    color: #39b9ef;
    text-decoration:underline;
}
header div.call-to h1{
    margin-top: 250px;
    margin-bottom: 0px;
    text-align: center;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
}
header div.call-to h1 span{
    color: #2ebaee;
}
header div.call-to p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
header div.call-to a{
    display: block;
    width: 215px;
    height: 50px;
    background-color:#2ebaee ;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin:0 auto;
    line-height: 50px;
}
/***********************************
**********our services************
**************************************/
div.back_services{
    background-image: url(../img/back-services.jpg);
    background-repeat: no-repeat;
    background-position:center center ;
    padding-bottom: 140px;
}
section.our_services h2 {
    font-size: 48px;
    color: #242424;
    text-align: center;
    margin-top: 70px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 80px;
}
section.our_services div.services div{
    padding-top:80px;
}
div.services div img{
    display: block;
    margin-bottom: 50px;
}
div.services div.services_3 img{
    max-width: 100px;
}
div.services div h3{
    font-size: 24px;
    color: #242424;
    margin-bottom: 34px;
}
div.services div p, div.services_2 p{
    color: #878787;
    font-size: 16px;
    line-height: 24px;
    max-width: 520px;
}
section.our_services div.buttom a{
    display: block;
    width: 150px;
    height: 45px;
    background-color:#2ebaee ;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 65px auto;
    line-height: 44px;
    
} 
section.our_services div.buttom :hover,div.services_2 a:hover{
    color:#2ebaee ;
    background-color:#fff ;
    border: 1px solid #2ebaee;
    
}
div.services_2{
    margin-top: 180px;
}

div.services_2 h3{
    font-size: 36px;
    color: #242424;
    margin-top: 100px;
}
div.services_2 a{
    display: block;
    width: 150px;
    height: 45px;
    background-color:#2ebaee ;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 44px;
    margin-top: 50px;
}
div.services_3{
    margin-top: 140px;
}
div.services_3 div.serv-3{
    padding-left: 100px;
}
div.services_3 h3{
    color: #fff;
    font-size: 36px;
}
div.services_3 p{
    color: #fff;
    font-size: 16px;
}
div.services_3 div.serv-3 a{
    display: block;
    width: 150px;
    height: 45px;
    background-color:#fff ;
    color: #2ebaee;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 44px;
    margin-top: 50px;
}
div.services_3 div.serv-3 a:hover{
    color:#fff;
    background-color: #2ebaee;
    border: 1px solid #fff;
}
/*************************
*******section 3*********
*************************/
section.image_boy{
    height: 638px;
}
section.image_boy img{
    max-width: 100%;
}
section.image_boy div h3{
    color: #000000;
    font-size: 72px;
    max-width: 600px;
    margin-left: 75px;

}
section.image_boy div p{
    color: #878787;
    font-size: 16px;
    line-height: 30px;
    max-width: 600px;
    margin-left: 75px;
}
section.image_boy div a{
    display: block;
    width: 150px;
    height: 45px;
    background-color:#2ebaee ;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 44px;
    margin-top: 50px;
    margin-left: 75px;
}
section.image_boy div a:hover{
    color:#2ebaee ;
    background-color:#fff ;
    border: 1px solid #2ebaee;
}
/*************************
*******section 4*********
*************************/
section.gallery {
    min-height: 430px;
}
section.gallery div.block_1{
    background-image: url(../img/block3/ico-07.png);
    background-repeat: no-repeat;
    min-height: 430px;
    background-position: center center;
}
section.gallery div.block_2{
    background-image: url(../img/block3/ico-08.png);
    background-repeat: no-repeat;
    min-height: 430px;
    background-position: center center;
}
section.gallery div.block_3{
    background-image: url(../img/block3/ico-09.png);
    background-repeat: no-repeat;
    min-height: 430px;
    background-position: center center;
}
section.gallery div.block_4{
    background-image: url(../img/block3/ico-10.png);
    background-repeat: no-repeat;
    min-height: 430px;
    background-position: center center;
}
section.gallery h4{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) ;
    margin: 0;
    padding: 140px 65px 0 65px;
}
section.gallery h4:hover{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background: rgba(45, 156, 195, 0.7) ;
    margin: 0;
    padding: 140px 65px 0 65px;
}
/*************************
*******check our*********
*************************/
section.check_our{
height: 850px;
}
section.check_our h2{
    font-size: 72px;
    font-weight: bold;

}
section.check_our h2 span{
    color: #2ebaee;
}
section.check_our img {
    display: block;
    margin: 0 auto;
    width: 234px;
    height: 234px;
    margin-top:40px;
}